<html>
<head>
    <title>Hostel Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f3792d485b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        #navbarSupportedContent{
            width: 25%;
        }

        .list-group > a {
            margin:2px 0px;
        }
        .list-group > a:hover{
            background-color: #bdbaba;
            color: black;
        }
        .body-content{
            background-color: #f2edf3;
        }
        h1,h2,h3,h4,h5,h6{
            color: #525151
        }
        /*.content{*/
        /*    padding-top: 2%;*/
        /*    padding-left: 2%;*/
        /*    background: #f2edf3;*/
        /*}*/
        /*section , .section{*/
        /*    background: #ffffff;*/
        /*    padding: 2%;*/
        /*    border: 1px white;*/
        /*    border-radius: 8px;*/
        /*    margin-bottom: 1%;*/
        /*}*/
        /*.section{*/

        /*  }*/
        .form-group{
            margin-bottom: 10px;
        }
        section.dashboard{
            margin: 2% 3% 3% 5%;
        }
        @media only screen and (max-width: 920px) {
            .table > tbody > tr > td,
            .table > tbody > tr > th,
            .table > tfoot > tr > td,
            .table > tfoot > tr > th,
            .table > thead > tr > td,
            .table > thead > tr > th {
                display: block;
                min-width: 100% !important;
            }

            .table > thead > tr > th {
                display: none;
            }

            .table > tbody > tr {
                border-width: 5px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #navbarSupportedContent{
                position: absolute;
                z-index: 1;
                width: 100%;
            }

        }



    </style>
</head>
<body>

