<div class="container-fluid">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-brand">Lal House</div>
            <% if(global.user != undefined){ %>
                <div class="d-flex align-items-center ms-auto">
                    <i class="fa-solid fa-user"></i>
                    <span class="mx-3"> <%= global.user.username %></span>
                </div>
            <% } %>
            <button class="navbar-toggler d-none" data-bs-toggle="sidebar" data-bs-target="#sidebar"  ><span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-2 col-md-4 d-none d-md-block" id="sidebar">
            <div class="d-flex align-items-center">
                <i class="fa-3x mx-3 fa-solid fa-user fa-flip" style="--fa-animation-duration: 3s"></i>
                <div class="mx-2 mt-3">
                <a class="text-decoration-none fw-folder" href="http://fb.com">
                Farhan Sajid
                </a>
                <p class="text-success fw-bolder"><%= global.role %></p>
                </div>
            </div>
            <hr>
            <div class="list-group border-5">
                <a href="/admin" class="list-group-item list-group-item border-0 rounded">
                    <i  class="text-primary fa-solid fa-folder"></i> Dashboard
                </a>
                <a href="/admin/applications/all" class="list-group-item active rounded" data-bs-toggle="collapse"
                   data-bs-target="#applications-status" aria-expanded="false">
                    <i  class="text-primary fa-solid fa-folder"></i> Applications
                </a>
                <div class="collapse ps-2" id="applications-status">
                    <a href="/admin/applications/pending" class="list-group-item  border-0 rounded">
                        <i  class="text-primary fa-solid fa-folder"></i> Pending
                    </a>
                    <a href="/admin/applications/queue" class="list-group-item  border-0 rounded">
                        <i  class="text-primary fa-solid fa-folder"></i> On Queue
                    </a>
                    <a href="/admin/applications/accepted" class="list-group-item  border-0 rounded">
                        <i  class="text-primary fa-solid fa-folder"></i> Accepted
                    </a>
                    <a href="/admin/applications/all" class="list-group-item  border-0 rounded">
                        <i  class="text-primary fa-solid fa-folder"></i> All
                    </a>
                </div>

                <a href="#" class="list-group-item  border-0 rounded" >
                    <i  class="text-primary fa-solid fa-folder"></i> Seat Management
                </a>
                <div class="collapse ps-2" id="applications-status">
                    <a href="/admin/applications/pending" class="list-group-item  border-0 rounded">
                        <i  class="text-primary fa-solid fa-folder"></i> Pending
                    </a>
                    <a href="/admin/applications/queue" class="list-group-item  border-0 rounded">
                        <i  class="text-primary fa-solid fa-folder"></i> On Queue
                    </a>
                    <a href="/admin/applications/accepted" class="list-group-item  border-0 rounded">
                        <i  class="text-primary fa-solid fa-folder"></i> Accepted
                    </a>
                    <a href="/admin/applications/all" class="list-group-item  border-0 rounded">
                        <i  class="text-primary fa-solid fa-folder"></i> All
                    </a>
                </div>
                <a href="#" class="list-group-item  border-0 rounded">
                    <i  class="text-primary fa-solid fa-folder"></i> Add Balance
                </a>
            </div>
        </div>

        <div class="col-lg-10  col-md-8 mt-3 content bg-light p-3">
