<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="content">
    <div class="container">
<div class="row text-center">
    <div class="col-lg-3 col-md-6"><div class="alert alert-success"><h3>155</h3><hr class="my-2"><p>Residents</p></div></div>
    <div class="col-lg-3 col-md-6"><div class="alert alert-warning"><h3>57</h3><hr class="my-2"><p>Applications</p></div></div>
    <div class="col-lg-3 col-md-6"><div class="alert alert-info"><h3>54547</h3><hr class="my-2"><p>New Visits</p></div></div>
    <div class="col-lg-3 col-md-6"><div class="alert alert-info"><h3>70</h3><hr class="my-2"><p>Rooms</p></div></div>

</div>
</div>
</div>
</div>
<%- include('../partials/footer.ejs') %>

<!--<div class="list-group">-->
<!--    -->
<!--    <a class="list-group-item list-group-item-action " href="#">-->
<!--        <div class="d-flex justify-content-between"><p>Name : Farhan Sajid</p><p>Gender : Male</p></div>-->
<!--        <p>Hostel :</p>-->
<!--        <div class="d-flex justify-content-between text-muted"><p>Application Date : </p>-->
<!--            <p class="badge bg-primary">Pending</p></div>-->
<!--    </a>-->
<!--</div>-->