<div class="sidebar">
    <div class="text-center mt-3">
        <i class="fa-3x fa-solid fa-user "></i>
        <div class="my-2">
            <a class="text-decoration-none" href="http://fb.com">
                <%= global.user.username %>
            </a>
            <p class="text-success"><%= global.role %></p>
        </div>
    </div>
    <div class="sidenav">
    <a href="/user"><i class="fa-solid fa-envelope"></i>Dashboard</a>
    <a href="/user/profile"><i class="fa-solid fa-envelope"></i>Profile</a>
    <a href="/user/apply"><i class="fa-solid fa-envelope"></i>New Application</a>
    <a href="/user/applications"><i class="fa-solid fa-envelope"></i>All Applications</a>
    </div>
</div>