<div class="sidebar">
    <div class="d-flex align-items-center ">
        <i class="fa-3x mx-3 fa-solid fa-user "></i>
        <div class="mx-2">
            <a class="text-decoration-none fw-folder" href="http://fb.com">
                Farhan Sajid
            </a>
            <p class="text-success"><%= global.role %></p>
        </div>
    </div>
    <hr>
    <a href="/admin">Dashboard</a>
    <a href="/admin/applications">Applications</a>
    <a href="/admin/applications?status=pending">Pending Applications</a>
    <a href="/admin/applications?status=queued">Queued Applications</a>
    <a href="/admin/applications?status=accepted">Accepted Applications</a>
    <a href="/admin/applications?status=rejected">Rejected Applications</a>
    <a href="/admin/user">Users</a>
    <a href="/admin/hostel/add">Manage Hostel</a>
</div>