<div class="sidebar">
    <div class="text-center mt-3">
        <i class="fa-3x fa-solid fa-user "></i>
        <div class="my-2">
            <a class="text-decoration-none" href="http://fb.com">
                <%= global.user.username %>

            </a>
            <p class="text-success"><%= global.role %></p>
        </div>
    </div>
    <div class="sidenav">
    <a href="/admin"><i class="fa-solid fa-envelope"></i> Dashboard</a>
    <a href="/admin/applications"><i class="fa-solid fa-envelope"></i> Applications</a>
    <a href="/admin/applications?status=pending"><i class="fa-solid fa-envelope"></i> Pending Applications</a>
    <a href="/admin/applications?status=queued"><i class="fa-solid fa-envelope"></i> Queued Applications</a>
    <a href="/admin/applications?status=accepted"><i class="fa-solid fa-envelope"></i> Accepted Applications</a>
    <a href="/admin/applications?status=rejected"><i class="fa-solid fa-envelope"></i> Rejected Applications</a>
    <a href="/admin/user"><i class="fa-solid fa-envelope"></i> Users</a>
    <a href="/admin/hostel/add"><i class="fa-solid fa-envelope"></i> Manage Hostel</a>
    </div>
</div>