<html>
<head>
    <title>Hostel Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        #navbarSupportedContent{
            width: 25%;
        }
        .content{
            width: 100%;
            margin-top: 10px;
            margin-left: 10px;
        }
        @media only screen and (max-width: 920px) {
            .table > tbody > tr > td,
            .table > tbody > tr > th,
            .table > tfoot > tr > td,
            .table > tfoot > tr > th,
            .table > thead > tr > td,
            .table > thead > tr > th {
                display: block;
                min-width: 100% !important;
            }

            .table > thead > tr > th {
                display: none;
            }

            .table > tbody > tr {
                border-width: 5px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #navbarSupportedContent{
                position: absolute;
                z-index: 1;
                width: 100%;
            }


        }
    </style>
</head>
<body>

