<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="xnavbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <% if(global.user!=undefined){%>
            <div class="d-flex align-items-center">
                <img class="mx-2 rounded" src="https://img.icons8.com/fluency/48/000000/download-2.png"/>
                <span class="text-white"> <%= global.user?.username%></span>
            </div>
            <%}%>
        </div>
    </div>
</nav>
<div class="bg-light d-flex">
    <div  class="px-4 bg-white d-md-block sidebar" id="" >
        <a class="d-flex flex-left text-decoration-none display-4 text-dark mt-3" href=""><i class="fa-solid fa-square-h my-1 mx-2"></i>  Sidebar</a>
        <hr>
        <div class="list-group border-5">
            <a href="#" class="list-group-item list-group-item border-0 rounded">
                <i class="fa-solid fa-square-h my-1 mx-2"></i> Dashboard
            </a>
            <a href="#" class="list-group-item active rounded">
                <i class="fa-solid fa-square-h my-1 mx-2"></i> Applications
            </a>
            <a href="#" class="list-group-item  border-0 rounded">
                <i class="fa-solid fa-square-h my-1 mx-2"></i> Hostel Database
            </a>
            <a href="#" class="list-group-item  border-0 rounded">
                <i class="fa-solid fa-square-h my-1 mx-2"></i> Add Balance
            </a>
        </div>
    </div>